<?xml version="1.0"?>
<launch> 
    <!-- ====== HSR ===== -->
    <node pkg="rviz" type="rviz" name="overwite_rviz_conf" args="-d $(find master_project)/rviz_conf/hsr_dev2.rviz"/>
    <include file="$(find darknet_ros)/launch/darknet_ros.launch">
      <arg name="image" value="/hsrb/head_rgbd_sensor/rgb/image_raw"/>
      <arg name="network_param_file"       default="$(find darknet_ros)/config/yolov3.yaml"/>
    </include> 
    <!-- <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>  -->
</launch>